<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appeventolandia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppEventolandia">
        <activity android:name=".cliente.MainClienteActivity" />
        <activity android:name=".cliente.VisualizarEventoActivity"
            android:parentActivityName=".cliente.MainClienteActivity"/>
        <activity android:name=".organizador.EventoActivity"
            android:parentActivityName=".organizador.MainOrganizadorActivity" />
        <activity android:name=".organizador.MainOrganizadorActivity" />
        <activity android:name=".MainAdminOrganizadorActivity" />
        <activity android:name=".admin.MainAdminActivity" />
        <activity android:name=".admin.UsuarioActivity"
            android:parentActivityName=".admin.MainAdminActivity"/>
        <activity android:name=".InicioSesionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>